doctype html
html(lang="en-us")
  head
    title Glasswipe
    link(rel="icon" href="")
    link(rel="canonical" href="")
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/index.css')
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@266&display=swap" rel="stylesheet")
  body
    header 
      nav
        a 
          b Glasswipe 
        div
        a Dashboard 
        a About 
        a Blog
    block content